<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>APNKeychainAgent</string>
    <key>CFBundleIdentifier</key>
    <string>ai.nuanu.apn.keychain-agent</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Agent Payment Node</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>${APN_VERSION}</string>
    <key>CFBundleVersion</key>
    <string>${APN_BUILD_NUMBER}</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>APNKeychainAccessGroup</key>
    <string>${APP_IDENTIFIER_PREFIX}ai.nuanu.apn.keys</string>
</dict>
</plist>

